<div class="meetings-sort"> 
    <div><b>{{count}}</b> meetings found </div>
    
    <div class="meetings-sort-box">
    <label> Sort by </label>
    <select (change)= "onChange($event)" [value]="sort" class="meetings-sort-list">
            <option value="Popularity">Popularity</option>
            <option value="StartDate">Start date</option>
            <option value="Rating">Tutor rating</option>
    </select>
    
    </div>
    
</div>