<div class="container">

    <div class="form-box">

        <form [formGroup]="form" (ngSubmit)="submit(form)" class="form-mini"  autoComplete="off" >
            
            <h1 class="form-header">Log In</h1>
            <div class="form-subheader">Use your credentials or <a [routerLink]="['/registration']">Sign up</a> if you don't have an account</div>
            <div class="form-row">
                <mat-form-field >
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="Email"  required>
                   <mat-error *ngIf="email?.invalid && email?.touched">Valid email is required</mat-error> 
                </mat-form-field>
            </div>
            <div class="form-row">
                
              <mat-form-field >
                <mat-label>Password</mat-label>
                <input  type="password" formControlName="password" matInput placeholder="Password"  required>
                <mat-error *ngIf="password?.invalid && password?.touched">Password required. (min length - 3)</mat-error> 
            </mat-form-field>
                
                
            </div>
          
            <div class="form-buttons">
                <button class="btn-primary" type="submit">Login to SPEAKCAMP</button>
            </div>
            <div *ngIf="submitted && (error$ | async) as errorMessage" class="form-msg">{{errorMessage}}</div>
        </form>

    </div>
</div>
