<div class="container">

    <div class="form-box">

        <form [formGroup]="form" (ngSubmit)="submit(form)" class="form-mini"  autoComplete="off" >
            
            <h1 class="form-header">Sign Up</h1>
            <div class="form-subheader">Fill out the form or <a [routerLink]="['/login']">Log In</a> if you already have an account </div>
            
            <div class="form-row">
                <mat-form-field >
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role">
                      <mat-option value="Student">Student</mat-option>
                      <mat-option value="Tutor">Tutor</mat-option>
                   </mat-select>
                  </mat-form-field>
            </div>
            
            <div class="form-row">
                <mat-form-field >
                    <mat-label>First name</mat-label>
                    <input formControlName="firstName" matInput placeholder="First Name"  required>
                   <mat-error *ngIf="firstName?.invalid && firstName?.touched">First name is required</mat-error> 
                </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field >
                    <mat-label>Last name</mat-label>
                    <input formControlName="lastName" matInput placeholder="Last name"  required>
                   <mat-error *ngIf="lastName?.invalid && lastName?.touched">Last name is required</mat-error> 
                </mat-form-field>
            </div>


            <div class="form-row">
                <mat-form-field >
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="Email"  required>
                   <mat-error *ngIf="email?.invalid && email?.touched">Valid email is required</mat-error> 
                </mat-form-field>
            </div>
            <div class="form-row">
                
              <mat-form-field >
                <mat-label>Password</mat-label>
                <input  type="password" formControlName="password" matInput placeholder="Password"  required>
                <mat-error *ngIf="password?.invalid && password?.touched">Password required. (min length - 3)</mat-error> 
            </mat-form-field>
              
            </div>

            <div class="form-row">
                <mat-form-field >
                    <mat-label>Language</mat-label>
                    <mat-select formControlName="languageKey">
                      <mat-option value="en">English</mat-option>
                      <mat-option value="de">German</mat-option>
                      <mat-option value="es">Spanish</mat-option>
                   </mat-select>
                  </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field >
                    <mat-label>Language level</mat-label>
                    <mat-select formControlName="languageLevel">
                      <mat-option value="">All levels</mat-option>
                      <mat-option value="a1">A1 - Beginner</mat-option>
                      <mat-option value="a2">A2 - Elementary</mat-option>
                      <mat-option value="b1">B1 - Intermediate</mat-option>  
                      <mat-option value="b2">B2 - Upper Intermediate</mat-option>
                      <mat-option value="c1">C1 - Advanced</mat-option>
                      <mat-option value="c2">C2 - Proficient</mat-option>  
                    </mat-select>
                  </mat-form-field>
            </div>

          
            <div class="form-buttons">
                <button class="btn-primary" type="submit">Join to SPEAKCAMP</button>
            </div>
            <div *ngIf="submitted && (error$ | async) as errorMessage" class="form-msg">{{errorMessage}}</div>
        </form>

    </div>
</div>
