*,
*:before,
*:after {
    box-sizing: border-box;
}

ul
{
list-style: none;
padding: 0;
margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.2;
}

body {
    margin: 0;
}

i {font-style: normal;}