
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: $main-color;
   
  }
  
  
  a {
    color:$main-color;
    text-decoration: none;
    &:visited {
      color:$main-color;
    }
  }
  
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.2px;
  }
  
  h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.1px;
    margin-bottom: 50px;;
  }
  
  .container {
    width: 100%;
    max-width: 1160px;
    min-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
  }
  
  
  .btn-primary {
    background-color: #1e68e3;
    padding: 0 18px;
    border-radius: 7px;
    color: #fff;
    
    border: 1px solid #1e68e3;
    font-size: 14px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:visited {
      color:#fff;
    }

    &:hover {
      background-color:#1053c0;
      border-color: #1053c0;
      transition: 0.2s;
    }
  }
  
  .btn-alt {
    display: block;
    color: $active-color;
    padding: 0 18px;
    border: 1px solid $active-color;
    border-radius: 7px;
    font-size: 14px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    &:visited {
      color:$active-color;
    }
  }
  
  .btn-label {
    padding: 0 18px;
   
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
 
  
  .list-message {
  text-align: center;;

    &-inner {
      background-color: #f8f8f8;
      padding: 20px 30px;
      font-size: 18px;
      border-radius: 10px;
}

  }
  
  .text-block {
    font-size: 18px;
    padding: 70px 100px;
  
    p {
      margin-bottom: 30px;
      margin-top:0;
    }
  
    p:last-child {
      margin-bottom:0;
    }
  
  }
  
  .page-header {
    padding-top: 90px;
    margin-bottom: 55px;
  }
  
  
.icon {font-size: 20px; color: #a0a0a0;}


.container-header {
    width: 100%;
    padding: 0 50px;
    
}

.header {
    display: flex;
    align-items: center;
    height: 75px;
    background-color: $bg-color; 

    &-inner
    {
      display:  flex;
      justify-content: space-between;
      align-items: center;
    }

    &-logo {
      padding-top: 3px;
    }

    &-logo-img {
      width: 185px;
    }
    &-nav-link {
      margin: 0 10px;
      color: $main-color;
      opacity: 0.7;

      &:hover {
        opacity: 1;
        transition: 0.2s;
      }

    }

    &-user {
      display: flex;
      align-items: center;}
    &-user-img {
      width: 35px; 
      height: 35px;
      border-radius: 100%;
      display: block;
      margin-right: 10px;
    }

    &-user-name {
      margin-right: 25px;
      opacity: 0.7;
      &:hover {
        opacity: 1;
        transition: 0.2s;
      }
    }

 }

 .content {min-height: 600px;}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 50px;
    margin-top: 120px;
    border-top: 1px solid #ebebeb;
    color: #9e9e9e;

}

.form-box {
  padding-top: 100px;
  
}

.form-mini {
  border: 1px solid $border-color;
  border-radius: 15px;
  width: 500px; 
  padding: 50px 35px;
   margin: auto;}

.form-row {margin-bottom: 35px;}

h1.form-header {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.1px;
  margin-bottom: 20px;
 
}

.form-subheader {
  font-size: 14px;
  color: #9e9e9e;
  text-align: center;
  margin-bottom: 35px;
  a {
    color:$active-color;
  }
}

.form-buttons {display:flex;
  justify-content:center;
}

.form-msg {
  padding-top: 35px;
    color: #e70a0a;
    text-align: center;
}


.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-exit {opacity: 0;}