
.home-promo {
    display:flex;
    
    align-content: space-between;

    &-box {
        padding-top: 110px;
            padding-bottom: 110px;
            border-bottom: 1px solid #e9e9e9;
            margin-bottom: 85px;
          
    }

    &-header-box {
        padding-right: 70px;
        margin-top: -5px;
     }
    &-header {
       text-align: left;
       font-size: 50px;
       margin-bottom: 30px;;
    }

    &-text {
        opacity: 0.8;
        margin-bottom: 30px;}
    
    &-img {height: 290px;}

    &-actions {display: flex;}
    &-btn {margin-right: 15px;
    }

}

.home-sub {
    font-size: 32px;
    margin-bottom: 0;

    &-box {display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;}

    &-em {padding: 0 5px;
            background-color: #3bc689;
            color: #fff;
            border-radius: 5px;
            font-size: 22px;
           
            margin-left: 10px;
       }
    &-em-alt {padding: 0 5px;
        background-color: #f7b101;
        color: #fff;
        border-radius: 5px;
        font-size: 22px;
       
        margin-left: 10px;}
}