<div *ngIf="(user$ | async) as user" class="container">
    <sc-user-summary [user]="user" ></sc-user-summary>
    <div class="user-description text-block" [innerHtml]="user.description | safeHtml"></div>
    <sc-user-meetings [meetings]="meetings$ | async"></sc-user-meetings>
    <sc-user-reviews [reviews]="reviews$ | async"></sc-user-reviews>
</div>