
<div class="recent-meetings">
    <div class="home-sub-box">
    <h2 class="home-sub">Upcoming  meetings </h2> <i class="home-sub-em">online</i>
</div>
<div *ngIf="meetings" class="meeting-cards">
    <sc-meeting-card  *ngFor="let meeting of meetings"  [meeting]="meeting"  ></sc-meeting-card>
</div>
