
<sc-home-promo></sc-home-promo>

<div class="container">
    
    <sc-home-meetings [meetings]="meetings$ | async"></sc-home-meetings>

    <sc-home-users [users]="users$ | async"></sc-home-users>
    
</div>
