<h2>Participants</h2>
<ng-container *ngIf="visits && visits.length > 0; else empty">
    <div class="meeting-users user-cards">
        <sc-user-card  *ngFor="let visit of visits" [user]="visit.user" ></sc-user-card>
    </div>
</ng-container>
<ng-template #empty>
    <div class="list-message"><span class="list-message-inner">😢 No one has yet joined this fascinating meeting. Be the first!</span></div>
</ng-template>
