
     <div *ngIf="meetings" class="user-meetings"> 
        <h2>Tutor's meetings</h2>
    <div  class="meeting-cards">
        <sc-meeting-card  *ngFor="let meeting of meetings"  [meeting]="meeting"  ></sc-meeting-card>
    </div>
    </div>


