
     <div *ngIf="reviews"  class="reviews">
        <h2>Reviews</h2>
    <div class="reviews-list">
        <sc-review *ngFor="let review of reviews"  [review]="review"></sc-review>
    </div>
    </div>
   
   


