<div class="review">
    <div class="review-rating">
    <div class="review-rating-icons">
        <star-rating [starType]="'svg'" [rating]="review.rating" size="medium" readOnly="true" staticColor="ok"></star-rating>
        
    </div>

    </div>
    <div class="review-head">
        <div class="review-text">{{review.body}}  
        </div>
        <div class="review-params">
            <img class="meeting-card-user-photo" [src]="review.user.photoKey | photoUrl" alt="" /> 
            <span class="review-author-name">{{review.user.firstName}} {{review.user.lastName}} </span>
            <span class="review-date">{{review.creationDate | date:'d MMM yyyy'}}</span>
        </div>
    </div>
</div>