
 <div class="home-sub-box">
    <h2 class="home-sub">Our   tutors </h2><i class="home-sub-em-alt">rated</i>
    </div>
<div *ngIf="users" class="user-cards">
    <sc-user-card  *ngFor="let user of users" [user]="user" ></sc-user-card>
</div>
